@model IEnumerable<CollegeProgram.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPostingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDegreeRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialMediaProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeField)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advisor.AdvisorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recruiter.Firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPostingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDegreeRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialMediaProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advisor.AdvisorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recruiter.Firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}

</table>
