@model CollegeProgram.Models.Advisor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Advisor</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorID)
                @Html.ValidationMessageFor(model => model.AdvisorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorFirstName)
                @Html.ValidationMessageFor(model => model.AdvisorFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorLastName)
                @Html.ValidationMessageFor(model => model.AdvisorLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorTitle)
                @Html.ValidationMessageFor(model => model.AdvisorTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorLocation)
                @Html.ValidationMessageFor(model => model.AdvisorLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorEmail)
                @Html.ValidationMessageFor(model => model.AdvisorEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorAddress)
                @Html.ValidationMessageFor(model => model.AdvisorAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorCity)
                @Html.ValidationMessageFor(model => model.AdvisorCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorState)
                @Html.ValidationMessageFor(model => model.AdvisorState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorZip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorZip)
                @Html.ValidationMessageFor(model => model.AdvisorZip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorOfficePhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorOfficePhone)
                @Html.ValidationMessageFor(model => model.AdvisorOfficePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorMobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorMobilePhone)
                @Html.ValidationMessageFor(model => model.AdvisorMobilePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorLevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorLevel)
                @Html.ValidationMessageFor(model => model.AdvisorLevel)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
