@model CollegeProgram.Models.Advisor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvisorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorOfficePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorOfficePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorMobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorMobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvisorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
