@model IEnumerable<CollegeProgram.Models.Advisor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorOfficePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorMobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorOfficePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorMobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvisorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvisorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvisorID })
        </td>
    </tr>
}

</table>
