@model CollegeProgram.Models.Appointment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AppointmentID)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentID", String.Empty)
                @Html.ValidationMessageFor(model => model.StudentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorID, "AdvisorID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdvisorID", String.Empty)
                @Html.ValidationMessageFor(model => model.AdvisorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApointmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApointmentDate)
                @Html.ValidationMessageFor(model => model.ApointmentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApointmentTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApointmentTime)
                @Html.ValidationMessageFor(model => model.ApointmentTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentType)
                @Html.ValidationMessageFor(model => model.AppointmentType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentLocation)
                @Html.ValidationMessageFor(model => model.AppointmentLocation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
