@model CollegeProgram.Models.CareerPlan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CareerPlan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CareerPlanID)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentID", String.Empty)
                @Html.ValidationMessageFor(model => model.StudentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorID, "AdvisorID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdvisorID", String.Empty)
                @Html.ValidationMessageFor(model => model.AdvisorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecruiterID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecruiterID)
                @Html.ValidationMessageFor(model => model.RecruiterID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resume, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resume)
                @Html.ValidationMessageFor(model => model.Resume)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvisorCareerForecast, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvisorCareerForecast)
                @Html.ValidationMessageFor(model => model.AdvisorCareerForecast)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecruiterCareerForecast, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecruiterCareerForecast)
                @Html.ValidationMessageFor(model => model.RecruiterCareerForecast)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentCareerGoals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentCareerGoals)
                @Html.ValidationMessageFor(model => model.StudentCareerGoals)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobLocationState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobLocationState)
                @Html.ValidationMessageFor(model => model.JobLocationState)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
